:root{
    --borda: 0.5px solid white;
    --trans: 0.5s ease;
}

html{
    box-sizing: border-box;
    font-family: Degular, sans-serif;
    color: white;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: black;
    font-size: 1.3vw;
}

h1{
    font-size: 2.5em;
}



/* ------------------------------------------ HEADER/FOOTER ------------------------------------------ */
/* ------------------------------------------ HEADER/FOOTER ------------------------------------------ */
/* ------------------------------------------ HEADER/FOOTER ------------------------------------------ */



header{
    display: flexbox;
    border-bottom: var(--borda);
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 50;
}
header nav ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5em;
    padding: 0;
    list-style: none;
}

header nav ul li{
    text-align: center;
    line-height: 1.5em;
}
header nav ul li a{
    display: inline-block;
    position: relative;
    text-decoration: none;
}

header nav ul li a::after{
    content: "";
    transform: scale(0,1);
    position: absolute;
    width: 100%;
    background: white;
    height: 1px;
    left: 0;
    bottom: 0;
    transition: 0.3s ease;
}


footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
    border-top: var(--borda);
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
}

footer nav ul{

    width: fit-content;
    padding: 0;
    list-style: none;
}

#find-us, #menu, #social-media{
    margin-right: auto;
    margin-left: auto;
}


footer nav ul li{
    line-height: 1.5em;
}
footer nav ul li a{
    color: inherit;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

footer nav ul li a::after{
    content: "";
    transform: scale(0,1);
    position: absolute;
    width: 100%;
    background: white;
    height: 1px;
    left: 0;
    bottom: 0;
    transition: 0.3s ease;
}

footer nav ul li a:hover::after{ transform: scale(1,1); }

footer nav ul li a:visited{ color: #eee; }

header nav ul li a:hover::after{ transform: scale(1,1); }

header nav ul li a:visited{ color: #eee; }


a:active{ color: white; }

#socialmedia_link{
    color: white;
}




/* ------------------------------------------  INDEX/HOMEPAGE ------------------------------------------ */
/* ------------------------------------------  INDEX/HOMEPAGE ------------------------------------------ */
/* ------------------------------------------  INDEX/HOMEPAGE ------------------------------------------ */
/* ------------------------------------------  INDEX/HOMEPAGE ------------------------------------------ */





.abovefold{
    display: flex;
    flex-direction: column;
    height: 650px;
    bottom: 0;
}

.gradient{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 25%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

.abovefold #g1{
    top: calc(650px - 24%);
}

.titulo{
    display: inline-block;
    position: relative;
    margin: 0;
    color: inherit;
    z-index: 7;
    mix-blend-mode: difference;
    top: 100px;
}

.titulo h1{
    font-size: 9em !important;
}

.titulo h1, .titulo h2{
    display: inline-block;
    position: relative;
    left: 120px;
    padding: 0;
    margin: 0;
    font-size: 3em;
    z-index: 1;
}

.myvideo video{
    display: inline-block;
    object-fit: fill;
}

video{
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;

}

.aboutus{
    background-image: url(https://images.unsplash.com/photo-1634712840728-5417d1bbea9a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80);    
    background-size: 100vw;
    display: grid;
    grid-template-columns: 5% 1fr 15% 1fr 5%;
    grid-template-rows: repeat(9, 5vw);
    grid-gap: 2em;
}

.aboutus #g2{
    position: relative;
    height: 100%;
    grid-column: 1/6;
    grid-row: 8/10;
    bottom: 0;
}

.aboutus #abtus{
    display: inline-block;
    position: relative;
    grid-column: 2/3;
    grid-row: 3/4;
}

.aboutus p{
    line-height: 1.5em;
    grid-column: 2/3;
    grid-row: 4/6;
}

.aboutus img{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform var(--trans);
}

.aboutus img:hover{
    transform: scale(1.2);
}

#imgbox{
    display: inline-block;
    border: var(--borda);
    margin: -40px 30px -40px 30px;
    grid-column: 4/5;
    grid-row: 3/9;
}
#img1{
    grid-column: 4/5;
    grid-row: 3/5;
}

#img2{
    grid-column: 4/5;
    grid-row: 5/7;
}

#img3{
    grid-column: 4/5;
    grid-row: 7/9;
}

.comments{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(9, 5vw);
    grid-gap: 2em;
}

.comments h1{
    display: inline-block;
    position: relative;
    text-align: center;
    grid-column: 4/6;
    grid-row: 1/2;
}

.comments p{
    position: relative;
    vertical-align: middle;
}

#c1, #c2, #c3, #c4{
    display: inline-block;
    padding: 1.5em;
    margin: -2px;
    border: var(--borda);
    text-align: center;
    transition: var(--trans);
}

.comments p:hover{
    color: black;
    background-color: white;
}

#c1{
    grid-column: 2/5;
    grid-row: 3/5;
}

#c2{
    grid-column: 5/8;
    grid-row: 3/5;
}

#c3{
    grid-column: 5/8;
    grid-row: 5/7;
}

#c4{
    grid-column: 2/5;
    grid-row: 5/7;
}

.comments form{
    position: relative;
    grid-column: 3/7;
    grid-row: 7/9;
}

#comment{
    display: inline-block;
    position: relative;
    max-width: 70%;
    max-height: 50%;
    left: 50%;
    transform: translateX(-50%);
    appearance: none;
    color: inherit;
    font-family: inherit;
    font-size: 1.2vw;
    padding: 10px;
    background-color: black;
    border: var(--borda);
    transition: var(--trans);
} 

#comment:hover{
    background-color: white;
    color: black;
}

#comment_b{
    appearance: none;
    display: inline-block;
    position: absolute;
    width: 20%;
    height: 2em;
    background-color: white;
    color: black;
    border: var(--borda);
    font-size: 1.5vw;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
    bottom: 0;
    left: 40%;
    transition: var(--trans);
    grid-column: 3/7;
    grid-row: 7/9;
}

#comment_b:hover{
    transform: scale(1.2);
    cursor: pointer;
}




/* ------------------------------------------  ARTISTS ------------------------------------------ */
/* ------------------------------------------  ARTISTS ------------------------------------------ */
/* ------------------------------------------  ARTISTS ------------------------------------------ */
/* ------------------------------------------  ARTISTS ------------------------------------------ */




.artist-pics{
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
    grid-template-rows: repeat(20, 5vw);
    grid-gap: 2em;
}

figure{
    margin: 0;
    position: relative;
    z-index: 1;
}

figcaption{
    position: relative;
    left: 5vw;
    bottom: 5vw;
    font-size: 1.5vw;
    font-style: italic;
    font-weight: 400;
    z-index: 1;
    transition: var(--trans);
}

.artist-pics img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: var(--trans);
}

.artist-pics img:hover{
    transform: scale(1.1);
    opacity: 50%;
}

.artist-pics img:hover + figcaption{
    transform: scale(1.1);
}

#sprat{
    grid-column: 2/4;
    grid-row: 2/6;
}

#polyanskaya{
    grid-column: 4/6;
    grid-row: 2/6;
}

#golovesov{
    grid-column: 2/4;
    grid-row: 6/12;
}

#dittrich{
    grid-column: 4/6;
    grid-row: 6/10;
}

#piwnicki{
    grid-column: 4/6;
    grid-row: 10/16;
}

#steiner{
    grid-column: 2/4;
    grid-row: 12/16;
}

#ivanov{
    grid-column: 4/6;
    grid-row: 16/20;
}

#hasselmann{
    grid-column: 2/4;
    grid-row: 16/20;
}




/* ------------------------------------------ EXPOSITIONS ------------------------------------------ */
/* ------------------------------------------ EXPOSITIONS ------------------------------------------ */
/* ------------------------------------------ EXPOSITIONS ------------------------------------------ */
/* ------------------------------------------ EXPOSITIONS ------------------------------------------ */




.expositions{
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
    grid-template-rows: repeat(26, 5vw);
    grid-gap: 2em;
}

.expositions h1{
    display: inline-block;
    position: absolute;
    font-weight: 400;
    font-size: 4em;
    font-style: italic;
    transition: var(--trans);
}

.expositions h1:hover{
    font-size: 5em;
}

.expositions h3{
    text-transform: uppercase;
    position: relative;
    bottom: 20%;
}

.expositions img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Titles */


.marek{
    grid-column: 2/3;
    grid-row: 2/4;
}

.peter{
    grid-column: 2/3;
    grid-row: 8/9;
}

.velizar{
    grid-column: 2/3;
    grid-row: 14/15;
}

.bernd{
    grid-column: 2/3;
    grid-row: 20/21;
}


/* Captions */


#marek{
    grid-column: 5/6;
    grid-row: 3/6;
}

#peter{
    grid-column: 5/6;
    grid-row: 9/12;
}

#velizar{
    grid-column: 5/6;
    grid-row: 15/18;
}

#bernd{
    grid-column: 5/6;
    grid-row: 21/24;
}


/* Images */


#ex1{
    grid-column: 3/5;
    grid-row: 2/5;
}

#ex2{
    grid-column: 3/5;
    grid-row: 5/8;
}

#ex3{
    grid-column: 3/5;
    grid-row: 8/11;
}

#ex4{
    grid-column: 3/5;
    grid-row: 11/14;
}

#ex5{
    grid-column: 3/5;
    grid-row: 14/17;
}

#ex6{
    grid-column: 3/5;
    grid-row: 17/20;
}

#ex7{
    grid-column: 3/5;
    grid-row: 20/23;
}

#ex8{
    grid-column: 3/5;
    grid-row: 23/26;
}




/* ------------------------------------------  TICKETS/FORM ------------------------------------------ */
/* ------------------------------------------  TICKETS/FORM ------------------------------------------ */
/* ------------------------------------------  TICKETS/FORM ------------------------------------------ */
/* ------------------------------------------  TICKETS/FORM ------------------------------------------ */




.tickets{
    display: grid;
    grid-template-columns: 5% repeat(10, 1fr) 5%;
    grid-template-rows: repeat(10, 5vw);
    grid-gap: 2em;
}

.tickets img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#logo{
    position: relative;
    right: 25%;
    grid-column: 2/4;
    grid-row: 2/4;
    opacity: 50%;
}

#build{
    position: relative;
    bottom: 25px;
    grid-column: 7/13;
    grid-row: 1/10;
}

.tickets h1, .tickets h4{
    display: inline-block;
    position: relative;
}

#cafe_h1{
    grid-column: 2/7;
    grid-row: 2/3;
    font-size: 2.5em;
}

#cafe_h4{
    transform: translateY(-300%);
    grid-column: 2/7;
    grid-row-start: 4;
    text-transform: uppercase;
    font-weight: 200;
    font-style: italic;
}

.buy-tickets{
    grid-column: 2/7;
    grid-row: 4/10;
}


/* ----------------------------------- CORRECT THIS ----------------------------------- */
/* ----------------------------------- CORRECT THIS ----------------------------------- */


.checkme{
    display: inline-block;
    position: relative;
    align-items: center;
    grid-column: 2/7;
    grid-row: 4/6;
}

.checkme:hover{
    cursor: pointer;
}

.buy-tickets{
    display: inline-block;
    position: relative;
    grid-column: 2/7;
    grid-row: 4/8;
}
.form-tickets{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7,4vw);
    padding: 0;
}

.form-tickets label{
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding: 0.9em;
    border: var(--borda);
    width: auto;
}

#n_tickets{
    grid-column: 1/3;
    grid-row: 1/2;
}

#name{
    grid-column: 1/2;
    grid-row: 2/3;
}

#birthday{
    grid-column: 1/2;
    grid-row: 3/4;
}

#email{
    grid-column: 1/2;
    grid-row: 4/5;
}

#phone{
    grid-column: 1/2;
    grid-row: 5/6;
}

#card-n{
    grid-column: 1/2;
    grid-row: 6/7;
}

#card-date{
    grid-column: 1/2;
    grid-row: 7/8;
}

#cvv{
    width: 40%;
    grid-column: 3/4;
    grid-row: 7/8;
}

.form-tickets input, .form-tickets select{
    grid-column: 2/4;
}

#i_n_tickets{
    grid-column: 3/4;
}

#i_n_tickets:hover{
    cursor: pointer;
}

#i_cvv{
    width: 39%;
    position: relative;
    left: 50%;
    grid-column: 3/4;
    grid-row: 7/8;
}

#card_m, #card_y{
    width: 50%;
    grid-column: 2/3;
    grid-row: 7/8;
}

#card_m, #card_y:hover{
    cursor: pointer;
}

#card_y{
    position: relative;
    left: 50%;
}

.form-tickets input, .form-tickets select{
    font-size: 1vw;
    margin: 0;
    border-radius: 0;
    appearance: none;
    padding-left: 1.5em;
    color: inherit;
    border: var(--borda);
    background-color: black;
    transition: var(--trans);
}

.form-tickets input:hover, .form-tickets select:hover{
    background-color: white;
    color: black;
}

.form-tickets select{
    opacity: 70%;
}

#form_b{
    appearance: none;
    position: absolute;
    width: 30%;
    height: 2.5em;
    background-color: white;
    color: black;
    border: var(--borda);
    font-family: inherit;
    font-weight: 600;
    font-size: inherit;
    text-transform: uppercase;
    top: 130%;
    bottom: 0px;
    left: 35%;
    transition: var(--trans);
}

#form_b:hover{
    transform: scale(1.2);
    cursor: pointer;
}





/* ------------------------------------------ MEDIA QUERIES ------------------------------------------ */
/* ------------------------------------------ MEDIA QUERIES ------------------------------------------ */
/* ------------------------------------------ MEDIA QUERIES ------------------------------------------ */
/* ------------------------------------------ MEDIA QUERIES ------------------------------------------ */



/* @media screen and (max-width: 600px) {
.aboutus{
    background-image: url(https://images.unsplash.com/photo-1634712840728-5417d1bbea9a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80);    
    background-size: 100vw;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: repeat(9, 5vw);
    grid-gap: 2em;
}


.comments{
    display: grid;
    grid-template-columns: repeat(5% 1fr 1fr 5%);
    grid-template-rows: repeat(9, 5vw);
    grid-gap: 2em;
}


.artist-pics{
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: repeat(20, 5vw);
    grid-gap: 2em;
}


.expositions{
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-rows: repeat(26, 5vw);
    grid-gap: 2em;
}


.tickets{
    display: grid;
    grid-template-columns: 5% repeat(5% 1fr 15% 1fr 5%);
    grid-template-rows: repeat(10, 5vw);
    grid-gap: 2em;
}
} */

/* @media screen and (max-width: 600px) { */



/* ------------------------------------------  ABOUT US ------------------------------------------ */


@media screen and (max-width: 600px) {

    body{
        font-size: 2.5vw;
    }
    .aboutus{
        background-image: url(https://images.unsplash.com/photo-1634712840728-5417d1bbea9a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80);    
        background-size: 100vw;
        display: grid;
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: repeat(9, 5vw);
        grid-gap: 2em;
    }
    


    .aboutus #g2{
        position: relative;
        height: 100%;
        grid-column: 2/3;
        grid-row: 8/10;
        bottom: 0;
    }
    
    .aboutus #abtus{
        display: inline-block;
        position: relative;
        grid-column: 2/3;
        grid-row: 3/4;
    }
    
    .aboutus p{
        line-height: 1.5em;
        grid-column: 2/3;
        grid-row: 4/6;
    }

    #imgbox, #img1, #img2, #img3{
        display: none;
    }



/* ------------------------------------------  COMMENTS ------------------------------------------ */
/* ------------------------------------------  COMMENTS ------------------------------------------ */
/* ------------------------------------------  COMMENTS ------------------------------------------ */
/* ------------------------------------------  COMMENTS ------------------------------------------ */



    .comments{
        display: grid;
        grid-template-columns: 5% 1fr 15% 1fr 5%;
        grid-template-rows: repeat(9, 5vw);
        grid-gap: 2em;
    }




    .comments h1{
        display: inline-block;
        position: relative;
        text-align: center;
        grid-column: 1/6;
        grid-row: 1/2;
    }
    
    .comments p{
        position: relative;
        vertical-align: middle;
    }
    
    #c1, #c2, #c3, #c4{
        display: inline-block;
        padding: 1.5em;
        margin: -2px;
        border: var(--borda);
        text-align: center;
        transition: var(--trans);
    }
    
    .comments p:hover{
        color: black;
        background-color: white;
    }
    
    #c1{
        grid-column: 2/5;
        grid-row: 3/5;
    }
    
    #c4{
        grid-column: 2/5;
        grid-row: 5/7;
    }

    
    #c3,#c2{
        display: none;
    }
    
    .comments form{
        position: relative;
        grid-column: 1/6;
        grid-row: 7/9;
    }
    





/* ------------------------------------------  ARTISTS ------------------------------------------ */
/* ------------------------------------------  ARTISTS ------------------------------------------ */
/* ------------------------------------------  ARTISTS ------------------------------------------ */
/* ------------------------------------------  ARTISTS ------------------------------------------ */
   
    
    .artist-pics{
        display: grid;
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: repeat(40, 5vh);
        grid-gap: 2em;
    }

    #sprat{
        grid-column: 2/3;
        grid-row: 2/6;
        z-index: 20;
    }
    
    #polyanskaya{
        grid-column: 2/3;
        grid-row: 6/10;
        z-index: 20;
    }
    
    #golovesov{
        grid-column: 2/3;
        grid-row: 10/17;
    }
    
    #dittrich{
        grid-column: 2/3;
        grid-row: 17/21;
        z-index: 20;
    }
    
    #piwnicki{
        grid-column: 2/3;
        grid-row: 21/28;
        z-index: 20;
    }
    
    #steiner{
        grid-column: 2/3;
        grid-row: 28/32;
        z-index: 20;
    }
    
    #ivanov{
        grid-column: 2/3;
        grid-row: 32/36;
        z-index: 20;
    }
    
    #hasselmann{
        grid-column: 2/3;
        grid-row: 36/40;
        z-index: 20;
    }
    
    figcaption{
        position: relative;
        left: 10vw;
        bottom: 15vw;
        font-size: 5vw;
        font-style: italic;
        font-weight: 400;
        z-index: 1;
        transition: var(--trans);
    }


    

    
/* ------------------------------------------ EXPOSITIONS ------------------------------------------ */
/* ------------------------------------------ EXPOSITIONS ------------------------------------------ */
/* ------------------------------------------ EXPOSITIONS ------------------------------------------ */
/* ------------------------------------------ EXPOSITIONS ------------------------------------------ */




    .expositions{
        display: grid;
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: repeat(26, 5vw);
        grid-gap: 2em;
    }

  #-marek{
    display: inline-block;
    grid-column: 2/3;
    grid-row: 8/9;
  }
  #-peter{
    display: inline-block;
    grid-column: 2/3;
    grid-row: 18/19;
  }
  #-velizar{
    display: inline-block;
    grid-column: 2/3;
    grid-row: 29/30;
  }

  #-bernd{
    display: inline-block;
    grid-column: 2/3;
    grid-row: 39/40;
  }

  #velizar{
    background-color: rgba(0,0,0,0.5);
  }
    /* Titles */


.marek{
    z-index: 20;
    grid-column: 2/3;
    grid-row: 3/4;
}

.peter{
    z-index: 20;
    grid-column: 2/3;
    grid-row: 13/14;
}

.velizar{
    z-index: 20;
    grid-column: 2/3;
    grid-row: 23/24;
}

.bernd{
    z-index: 20;
    grid-column: 2/3;
    grid-row: 33/34;
}


/* Captions */


#marek{
    grid-column: 2/3;
    grid-row: 9/11;
}

#peter{
    grid-column: 2/3;
    grid-row: 19/20;
}

#velizar{
    grid-column: 2/3;
    grid-row: 30/32;
}

#bernd{
    grid-column: 2/3;
    grid-row: 40/42;
}


/* Images */


#ex1{
    grid-column: 2/3;
    grid-row: 2/7;
}

#ex2{
    grid-column: 2/3;
    grid-row: 7/12;
}

#ex3{
    grid-column: 2/3;
    grid-row: 12/17;
}

#ex4{
    grid-column: 2/3;
    grid-row: 17/22;
}

#ex5{
    grid-column: 2/3;
    grid-row: 22/27;
}

#ex6{
    grid-column: 2/3;
    grid-row: 27/32;
}

#ex7{
    grid-column: 2/3;
    grid-row: 32/37;
}

#ex8{
    grid-column: 2/3;
    grid-row: 37/42;
}





/* ------------------------------------------  TICKETS/FORM ------------------------------------------ */
/* ------------------------------------------  TICKETS/FORM ------------------------------------------ */
/* ------------------------------------------  TICKETS/FORM ------------------------------------------ */
/* ------------------------------------------  TICKETS/FORM ------------------------------------------ */



#build{
    display: none;
}
.form-tickets{

    display: grid;
    grid-column: 1fr;
    grid-template-rows: repeat(8,10vw);
    padding: 0;
}    

#cafe_h1{
    grid-column: 2/12;
    grid-row: 2/4; 
}

#cafe_h4{
    grid-column: 2/12;
    grid-row: 5/6; 
}

.buy-tickets{
    display: inline-block;
    position: relative;
    grid-column: 2/12;
    grid-row: 6/15;
}

.checkme{
    display: inline-block;
    position: relative;
    align-items: center;
    grid-column: 2/12;
    grid-row: 6/15;
}




.buy-tickets{
    grid-column: 2/12;
    grid-row: 6/15;
}


.form-tickets label{
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding: 0.9em;
    border: var(--borda);
    width: auto;
}


/* ------------------------------------------  FOOTER ------------------------------------------ */
/* ------------------------------------------  FOOTER ------------------------------------------ */
/* ------------------------------------------  FOOTER ------------------------------------------ */
/* ------------------------------------------  FOOTER ------------------------------------------ */


    


footer{
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
    grid-gap: 2vw;
    border-top: var(--borda);
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
}

footer nav ul{
    width: fit-content;
    padding: 0;
    list-style: none;
}

#find-us, #social-media{
    margin-right: auto;
    margin-left: auto;

}


footer nav ul li{
    line-height: 1.5em;
}
footer nav ul li a{
    color: inherit;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

footer img{
    display: none;
}


#find-us{
    grid-column:2/3;

}
#social-media{
    grid-column: 5/6;
}

footer nav ul li a:visited{ color: #eee; }

header nav ul li a:hover::after{ transform: scale(1,1); }

header nav ul li a:visited{ color: #eee; }


a:active{ color: white; }

#socialmedia_link{
    color: white;
    
}
#menu{
    display: none;
}

}

